[Desktop Entry]
Type=Application
Exec=imwheel
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Imwheel
Name=Imwheel
Comment[en_US]=imwheel
Comment=imwheel
